pydantic==1.10.14
lancedb==0.8.21
sentence-transformers
markdown
python-docx
openpyxl
pdfplumber
Pillow
beautifulsoup4
easyocr
PyMuPDF
streamlit
requests
ollama
python-dotenv
docling
tiktoken
transformers
langchain
langchain-community
langchain-core
langchain-ollama